:root{
    /* fontet */
/* --primary-font: "Lora", serif; */
--primary-font:"Nunito";
/* --heading-font: "Playfair Display", serif; */
--heading-font:  "Nunito";

    /* ngjyrat */
--dark-brown: #6F4A3D;
--light-green: #f1fff4;
--yellow: #f7e713;
--btncolor:#fde3f7;
/* #c4ffd1 */
--green: #3A6D52;
--dark-green:#0e2d1d;
--light-greenn: #90dfa1;
--hf:rgb(154, 221, 154);
--h-color: #40000b;
--border-color: #6F5348;
/* #EADDBA -ngjyre e bukur per header*/
--bg-color-katror: #fff2df;
--about-reasons-background: #eaddba;
   /* backgrounds */
--rose: #ffeaed;
--light-brown: #F7ECCC;
--brown:#710013;


}
